* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  font-family: 'Raleway', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

header,
footer {
  background-color:rgb(76, 3, 76);
  color: #1c3ac3;
  padding: 1.5em;
  text-align: center;
}

header h1 {
  font-weight: 800;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5em;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.1em;
}

nav a:hover {
  color: #3498db;
}

main {
  max-width: 800px;
  margin: 2em auto;
  padding: 1em;
}

section {
  margin-bottom: 2em;
}

section header h2 {
  font-size: 1.8em;
  font-weight: 800;
  margin-bottom: 0.5em;
  color: #3498db;
}